settings {
    background: url(../assets/images/grass.jpg) no-repeat center;
    background-size: cover;

    ion-content {
        &.content {
            background: none;
        }
    }

    .header-wrapper {
        text-align: center;
        margin-top: 20px;
        font-size: 30px;
        color: $primary-color-text;
    }

    .settings-wrapper {
        padding: 20px;

        .settings {
            margin: 30px;
            margin-left: 0px;

            ion-item {
                background: none;
            }

            .label-md {
                color: $primary-color-text;
            }
        }

        .action-wrapper {
            display: flex;
        }
    }
}
