button {
    &.tappy-button {
        background-color: $primary-color;
        width: 50%;
        margin: 0 10px;
        font-size: 20px;
        color: $primary-color-text;

        &.highlighted {
            background-color: $primary-color-dark !important;
        }
    }
}
