box {
    margin: 1%;
    float: left;
    position: relative;
    perspective: 800px;

    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    .box-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: transform 0.3s;

        .box {
            padding: 2px;
            width: 100%;
            height: 100%;
            margin: 0;

            display: block;
            position: absolute;
            backface-visibility: hidden;

            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

            &.front {
                border-radius: 50%;

                &.target {
                    box-shadow: inset 0px 0px 0px 14px rgba(255, 255, 255, 1);
                }
            }

            &.back {
                transform: rotateY( 180deg );
                border-radius: 50%;
            }

            .ball-picture {
                display: inline-block;
                width: 100%;
                height: 100%;
                opacity: 0.5;
            }
        }

        &.hit {
            //animation: spin 0.3s linear;
            transform: rotateY( 180deg );
        }
    }
}

@keyframes spin {
    100% {
        transform:rotateY(180deg);
    }
}
