<ion-content>
    <div class="header-wrapper">
        <div class="title">High Scores</div>
    </div>
    <div class="highscores-wrapper">
        <div class="highscores">
            <ion-list *ngIf="allTimeHighscores.length > 0 && !rankingError">
                <ion-list-header>All Time</ion-list-header>
                <ion-item *ngFor="let rank of allTimeHighscores; let i = index;" [ngClass]="{'my-rank': rank._id === (device.uuid || 'TEST_DEVICE')}">
                    <span class="rank">{{ i+1 }}.</span> {{ rank.name }} <span class="score" item-right>{{ rank.maxScore }}</span>
                </ion-item>
                <ion-item *ngIf="notTop10Rank">
                    <ion-icon name="md-more" class="icon-more"></ion-icon>
                </ion-item>
                <ion-item *ngIf="notTop10Rank" class="my-rank">
                    <span class="rank">{{ notTop10Rank.rank }}.</span> {{ name }} <span class="score" item-right>{{ notTop10Rank.maxScore }}</span>
                </ion-item>
            </ion-list>
        </div>
        <div class="no-rankings-available" *ngIf="allTimeHighscores.length === 0 && !rankingError">No rankings available!</div>
        <div class="ranking-error" *ngIf="rankingError">Error retrieving rankings! Please check your internet connection!</div>
    </div>
</ion-content>
<ion-footer>
    <div class="action-wrapper">
        <button class="tappy-button btn-back" ion-button (click)="back()">Back</button>
    </div>
</ion-footer>
