highscore {
    background: url(../assets/images/grass.jpg) no-repeat center;
    background-size: cover;

    ion-content {
        &.content {
            background: none;
        }
    }

    .header-wrapper {
        text-align: center;
        margin-top: 20px;
        font-size: 30px;
        color: $primary-color-text;
    }

    .highscores-wrapper {
        padding: 20px;

        .highscores {
            margin: 30px;
            margin-left: 0px;

            ion-list-header {
                &.item {
                    background: none;
                    color: $primary-color-text;
                    margin-left: 8px;

                    .label {
                        text-align: center;
                    }
                }
            }

            ion-item {
                background: none;
                color: $primary-color-text;
            }

            .icon-more {
                &:before {
                    font-weight: bold;
                }
            }

            .my-rank {
                color: $primary-color;
                background: white;
            }
        }

        .no-rankings-available {
            font-size: 20px;
            text-align: center;
            color: $primary-color-text;
        }

        .ranking-error {
            font-size: 20px;
            text-align: center;
            color: white;
            text-shadow: 1px 1px 2px map-get($colors, danger);
        }
    }

    .action-wrapper {
        display: flex;
        padding: 20px 0px;

        .tappy-button {
            width: 100%;
        }
    }
}
