highscore {
    .header-wrapper {
        text-align: center;
        margin-top: 20px;
        font-size: 30px;
        color: $primary-text-color;
    }

    .highscores-wrapper {
        padding: 20px;

        .highscores {
            margin: 30px;
            margin-left: 0px;

            .my-rank {
                color: $primary-color;
            }
        }

        .no-rankings-available {
            font-size: 20px;
            text-align: center;
            color: $primary-text-color;
        }

        .ranking-error {
            font-size: 20px;
            text-align: center;
            color: map-get($colors, danger);
        }
    }

    .action-wrapper {
        display: flex;
        padding: 20px 0px;

        .tappy-button {
            width: 100%;
        }
    }
}
